    <section class="section cta-inscription">
        <p class="cta-inscription__text">Le festival est gratuit !</p>
        <a class="cta-inscription__link" href="{{ links.callToAction.register.url }}"> {{ links.callToAction.register.labelLong }} </a>
    </section>