<footer class="footer--site" role="footer">
    <div class="footer__copyright">
        &copy; Les Films de Plein Air - 2021
    </div>
    <div class="footer__menu">
        <a class="navigation__menu__link" href="/festival.html">
            À propos
        </a>
        <a class="navigation__menu__link" href="#">
            Mentions légales
        </a>
        <a class="navigation__menu__link" href="#">
            Plan du site
        </a>
    </div>
</footer>