<footer class="footer--site" role="footer">
    <div class="footer__copyright">
        &copy; Les Films de Plein Air - 2021
    </div>
    <div class="footer__menu">
        {% for link in links.footer %}
            <a class="navigation__menu__link" href="{{ link.url }}">
            {{ link.label }}
        </a>
        {% endfor %}
    </div>
</footer>