<section class="hero">
    <h1>
        Les Films <br/> 
        de&nbsp;Plein Air
    </h1>
    <p class="paragraph--hero">
        D&eacute;couvrez nos 12 films d'auteurs, <br />
        du 3 au 6 ao&ucirc;t 2023, <br />
        au Parc Monceau, &agrave; Paris
    </p>
</section>