*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    background-color: var(--color-lightgrey-1);
    color: var(--color-darkgrey-1);
}

body {
    display: flex;
    flex-flow: column;
    font-family: var(--typography-text);
    font-size: 16px;
    font-kerning: normal;
    color: var(--color-darkgrey-2);
    background-color: var(--color-lightgrey-1);
}

/* .favicon__canvas path,
.favicon__triangle path {
    fill: #F4F4F4;
} */