@media (prefers-color-scheme: dark) {
    ::selection {
        background-color: var(--color-lightgrey-1);
        color: var(--color-darkgrey-1);
    }

    body {
        color: var(--color-lightgrey-1);
        background-color: var(--color-darkgrey-1);
    }

    .logo__nav .logo__canvas {
        fill: var(--color-lightgrey-1);
    }

    .logo__nav .logo__triangle--category {
        fill: var(--color-lightgrey-1)
    }

    .logo__category .logo__canvas {
        fill: var(--color-lightgrey-1);
    }

    .paragraph--hero {
        color: var(--color-lightgrey-4);
    }
    

    .navigation--site {
        background-color: var(--color-darkgrey-1);
        border-bottom: 1px solid var(--color-lightgrey-1);
    }

    .navigation__menu__link {
        color: var(--color-lightgrey-1);
        display: inline-flex;
        color: var(--var-color-darkgrey-1);
        padding: var(--spacing-xsmall);
    }

    .select__navigation--desktop {
        color: var(--color-lightgrey-1);
    }

    .navigation__menu--mobile {
        background-color: var(--color-darkgrey-1);
    }
    
    .navigation__menu__link,
    .navigation__menu__link--mobile {
        display: inline-flex;
        color: var(--color-lightgrey-1);
    }
    
    .navigation__menu__link--mobile:focus {
        background-color: var(--color-movie-laugh);
        color: var(--color-darkgrey-1);
    }
    
    .select__navigation--mobile {
        color: var(--color-lightgrey-3);
    }

    .select__navigation--mobile:focus {
        background-color: var(--color-lightgrey-3);
        color: var(--color-darkgrey-1);
    }

    .button,
    .button--CTA {
        background-color: var(--color-darkgrey-2);
        color: var(--color-lightgrey-1);
        border: 1px solid var(--color-lightgrey-1);
    }

    .button:hover,
    .button--CTA:hover {
        background-color: var(--color-lightgrey-2);
        color: var(--color-darkgrey-2);
        border: 1px solid var(--color-darkgrey-2);
    }

    .button--icon {
        display: inline-flex;
        background-color: var(--color-darkgrey-1);
        border: 1px solid var(--color-lightgrey-1);
        padding: var(--spacing-xsmall);
        transition: color 0.1s ease-in,
                    background-color 0.1s ease-in;
    }
    
    .button--icon:hover,
    .button--icon:focus {
        border: 1px solid var(--color-movie-laugh);
        background-color: var(--color-movie-laugh);
    }
    
    .button--icon:hover .icon--menu--mobile path {
        stroke: var(--color-darkgrey-1);
    }

    .icon--menu--mobile  {
        stroke: var(--color-lightgrey-1);
    }

    a,
    .link {
        color: var(--color-movie-laugh);
    }

    a:hover,
    a:focus
    .link:hover,
    .link:hover {
    text-decoration: underline 1px var(--color-movie-laugh);
}

    .button--CTA--register {
        color: var(--color-darkgrey-1);
        background-color: var(--color-lightgrey-1);
    }
    
    .button--CTA--register:hover,
    .button--CTA--register:focus {
        color: var(--color-lightgrey-1);
        background-color: var(--color-darkgrey-1);
    }

    /* ----- Blog ----- */
    .blog__article-list__article:hover {
        background-color: var(--color-darkgrey-2);
    }

    .blog-excerpt__article__title > a {
        color: var(--color-lightgrey-1);
    }


    /* ----- Programme ----- */
    .program__movie {
        border: solid 1px var(--color-lightgrey-3)
    }

    .program__movie__title > a,
    .blog__article-list__title > a {
        color: var(--color-lightgrey-1);
    }

    .program__movie__informations__text {
        color: var(--color-lightgrey-4);
    }

    .program__movie__information__emphasis {
        font-weight: 400;
        color: var(--color-lightgrey-1);
    }
    
    /* ----- Formulaires ----- */
    .form__input__text,
    .form__input__email,
    .form__input__textarea {
        width: 100%;
        background-color: var(--color-darkgrey-1);
        color: var(--color-lightgrey-1);
        padding: var(--spacing-small);
        border: 1px solid var(--color-lightgrey-1);
        transition: color 0.1s ease-in,
                    background-color 0.1s ease-in;
    }
    
    .form__input__text:focus,
    .form__input__email:focus,
    .form__input__textarea:focus {
        background-color: var(--color-lightgrey-1);
        color: var(--color-darkgrey-1);
        border: 1px solid var(--color-darkgrey-1);
    }
    
    .social-sharing {
        border-top: 1px solid var(--color-lightgrey-4);
    }
    
    .social-sharing__button {
        display: inline-flex;
        margin-right: var(--spacing-small);
    }
}

@media screen and (min-width: 960px) and (prefers-color-scheme: dark) {
    .button--icon,
    .button--icon--menu,
    .icon--menu--mobile {
        display: none;
    }
}