.button,
.button--CTA {
    font-family: var(--typography-text);
    background-color: var(--color-lightgrey-2);
    color: var(--color-darkgrey-1);
    border: 1px solid var(--color-darkgrey-1);
    padding: var(--spacing-small) var(--spacing-medium);
    transition: color 0.1s ease-in,
                background-color 0.1s ease-in;
}

.button:hover,
.button--CTA:hover {
    background-color: var(--color-darkgrey-2);
    color: var(--color-lightgrey-2);
    border: 1px solid var(--color-lightgrey-2);
}

.button--CTA--register {
    display: inline-flex;
    justify-content: center;
    color: var(--color-lightgrey-1);
    background-color: var(--color-darkgrey-1);
    transition: color 0.1s ease-in,
                background-color 0.1s ease-in;
}

.button--CTA--register--navigation--desktop {
    margin-left: var(--spacing-small);
}

.button--CTA--register:hover,
.button--CTA--register:focus {
    text-decoration: none;
    color: var(--color-darkgrey-1);
    background-color: var(--color-lightgrey-1);
}