.form {
    display: flex;
    flex-flow: row nowrap;
}

.form__column {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    max-width: 50%;
    padding: 0 var(--spacing-medium);
}

.form__label {
    display: flex;
    align-items: flex-start;
    font-weight: 500;
    margin: var(--spacing-xsmall);
    margin-bottom: var(--spacing-small);
}


.form__label + p {
    margin-top: var(--spacing-small);
}

.form__label__text,
.form__label__email {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.form__input__text,
.form__input__email,
.form__input__textarea {
    width: 100%;
    font-family: var(--typography-text);
    font-weight: 400;
    font-style: italic;
    line-height: 2;
    background-color: var(--color-lightgrey-1);
    color: var(--color-darkgrey-1);
    padding: var(--spacing-small);
    border: 1px solid var(--color-darkgrey-1);
    transition: color 0.1s ease-in,
                background-color 0.1s ease-in;
}

.form__input__textarea {
    min-height: 12rem;
}

.form__input__text:focus,
.form__input__email:focus,
.form__input__textarea:focus {
    background-color: var(--color-darkgrey-1);
    color: var(--color-lightgrey-1);
    border: 1px solid var(--color-lightgrey-1);
}

.form__input__checkbox {
    margin-right: var(--spacing-xsmall);
}

.form__label__description {
    display: inline-flex;
    line-height: 1.44;
    margin-bottom: var(--spacing-xsmall);
}