a,
.link {
    color: var(--color-movie-cry);
    text-decoration: none;
    font-weight: 500;
    font-size: inherit;
}

a:hover,
a:focus
.link:hover,
.link:hover {
    text-decoration: underline 1px var(--color-movie-cry);
}