.logo__nav,
.logo__category {
    height: 3rem;
}

.logo__nav .logo__canvas {
    fill: var(--color-darkgrey-1);
}

.logo__nav .logo__triangle--category {
    fill: var(--color-darkgrey-1)
}

.logo__category {
    margin-bottom: var(--spacing-medium);
}

.logo__category .logo__canvas {
    fill: var(--color-darkgrey-1);
}

.logo__category .logo__triangle--category--thriller {
    fill: var(--color-movie-hope);
}