.section {
    margin: var(--spacing-xlarge) 0;
}

.content-listing {
    display: flex;
    flex-grow: 1;
    flex-flow: column nowrap;
}

/* ----- HERO ----- */
.hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: calc(100vh - var(--spacing-xlarge));
    width: 100%;
    padding: var(--spacing-large);
    margin-top: var(--spacing-xlarge);
}

/* ----- BLOG EXCERPT ----- */

.blog-excerpt__article-list {
    display: flex;
    flex-flow: row npwrap;
}

.blog-excerpt__article-list__column {
    display: flex;
    flex-flow: column nowrap;
}

.blog-excerpt__article-list__article {
    display: flex;
    flex-flow: row nowrap;
}

.blog__article-list__article {
    margin-bottom: var(--spacing-large);
}

.blog-excerpt__article__meta {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    width: 18%;
    padding: var(--spacing-xsmall);
    margin-right: var(--spacing-medium);
}

.blog-excerpt__article__content {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 var(--spacing-medium);
}

.blog__article-list__image {
    width: 20rem;
    height: auto;
    object-fit: cover;
    margin-right: var(--spacing-medium);
}

.blog__article-list__article {
    display: flex;
    flex-flow: row nowrap;
}

.blog__article-list__text {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

.blog__article-list__meta {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
    width: 30%
}

.blog__article-list__link {
    display: inline-flex;
    font-size: var(--typography-size-1);
}

/* ----- FESTIVAL OPENING TIME AND DATE ----- */

.festival-opening {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.festival-opening__text {
    font-size: var(--typography-size-4);
    margin-right: var(--spacing-xlarge);
}

.festival-opening__time {
    margin: 0 var(--spacing-xlarge);
}

.festival-opening__hour {
    font-size: var(--typography-size-7);
    font-weight: 800;
    line-height: var(--typography-size-7);
    margin-bottom: var(--spacing-small);
}

.festival-opening__date {
    font-size: var(--typography-size-3);
}

/* ----- PROGRAM EXCERPT ----- */

.program-excerpt__movie-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.program-excerpt__movie-list__column {
    display: flex;
    flex-flow: column nowrap;
    width: 25%;
    padding: 0 var(--spacing-small);
}

.program-excerpt__movie {
    margin-bottom: var(--spacing-small);
}

.program-excerpt__movie__time {
    font-size: var(--typography-size-1);
}

.program-excerpt__movie__title {
    /* Soit je me répète, soit je mets le nom de cette classe dans le fichier typography.css. Je préfère avoir du code qui se répète plutôt que d'avoir du code spaghetti... Dans cette classe, j'aurais utilisé "@extend .paragraph--introduction" pour réutiliser les styles sans forcément me répéter */
    font-family: var(--typography-text);
    font-size: var(--typography-size-2);
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: var(--spacing-medium);
}

/* ----- FESTIVAL INSCRIPTION CTA ----- */

.cta-inscription {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.cta-inscription__text {
    font-size: var(--typography-size-3);
    margin-right: var(--spacing-xlarge);
}

.cta-inscription__link {
    font-size: var(--typography-size-3);
    font-weight: 600;
    margin-bottom: var(--spacing-small);
}