---
title: "Blog"
permalink: "/{{ title | slugify }}"
---

{% extends "_layouts/base.njk" %}

{% block title %}
- Le {{ title }}
{% endblock %}

{% block body %}
<main class="main-content">
    <h2>Le {{ title }}</h2>
    <section class="section content-listing">
        <div class="blog__article-list__article">
            <div class="blog__article-list__media">
                <img class="blog__article-list__image" src="/assets/img/illustration/outdoor-cinema.jpg" />
            </div>
            <div class="blog__article-list__text">
                <div class="blog__article-list__content">
                    <h4 class="blog__article-list__title">
                        <a href="/article">
                            Encore un peu avant l'ouverture !
                        </a>
                    </h4>
                    <p class="blog__article-list__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Age sane, inquam. Bonum incolumis acies: misera caecitas.</p>
                </div>
                <div class="blog__article-list__meta">
                    <p class="blog__article-list__date">
                        17 juillet 2021
                    </p>
                    <a href="/article" class="link blog__article-list__link">
                        Lire l'article
                    </a>
                </div>
            </div>
        </div>
        <div class="blog__article-list__article">
            <div class="blog__article-list__media">
                <img class="blog__article-list__image" src="/assets/img/illustration/outdoor-cinema.jpg" />
            </div>
            <div class="blog__article-list__text">
                <div class="blog__article-list__content">
                    <h4 class="blog__article-list__title">
                        <a href="/article">
                            Truc cool qui se passe
                        </a>
                    </h4>
                    <p class="blog__article-list__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Age sane, inquam. Bonum incolumis acies: misera caecitas.</p>
                </div>
                <div class="blog__article-list__meta">
                    <p class="blog__article-list__date">
                        12 mai 2021
                    </p>
                    <a href="/article" class="link blog__article-list__link">
                        Lire l'article
                    </a>
                </div>
            </div>
        </div>
        <div class="blog__article-list__article">
            <div class="blog__article-list__media">
                <img class="blog__article-list__image" src="/assets/img/illustration/outdoor-cinema.jpg" />
            </div>
            <div class="blog__article-list__text">
                <div class="blog__article-list__content">
                    <h4 class="blog__article-list__title">
                        <a href="/article">
                        Ce sponsor sera au festival
                        </a>
                    </h4>
                    <p class="blog__article-list__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Age sane, inquam. Bonum incolumis acies: misera caecitas.</p>
                </div>
                <div class="blog__article-list__meta">
                    <p class="blog__article-list__date">
                        17 juin 2021
                    </p>
                    <a href="/article" class="link blog__article-list__link">
                        Lire l'article
                    </a>
                </div>
            </div>
        </div>
        <div class="blog__article-list__article">
            <div class="blog__article-list__media">
                <img class="blog__article-list__image" src="/assets/img/illustration/outdoor-cinema.jpg" />
            </div>
            <div class="blog__article-list__text">
                <div class="blog__article-list__content">
                    <h4 class="blog__article-list__title">
                        <a href="/article">
                            Un petit aperçu du programme
                        </a>
                    </h4>
                    <p class="blog__article-list__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Age sane, inquam. Bonum incolumis acies: misera caecitas.</p>
                </div>
                <div class="blog__article-list__meta">
                    <p class="blog__article-list__date">
                        23 mars 2021
                    </p>
                    <a href="/article" class="link blog__article-list__link">
                        Lire l'article
                    </a>
                </div>
            </div>
        </div>
        <div class="blog__article-list__article">
            <div class="blog__article-list__media">
                <img class="blog__article-list__image" src="/assets/img/illustration/outdoor-cinema.jpg" />
            </div>
            <div class="blog__article-list__text">
                <div class="blog__article-list__content">
                    <h4 class="blog__article-list__title">
                        <a href="/article">
                            Bonjour, nous sommes les Films de Plein Air
                        </a>
                    </h4>
                    <p class="blog__article-list__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Age sane, inquam. Bonum incolumis acies: misera caecitas.</p>
                </div>
                <div class="blog__article-list__meta">
                    <p class="blog__article-list__date">
                        3 février 2021
                    </p>
                    <a href="/article" class="link blog__article-list__link">
                        Lire l'article
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
