---
title: "Contact"
permalink: "/contactez-nous"
---

{% extends "_layouts/base.njk" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <main class="main-content">
        <h2>Contactez-nous</h2>
        <section class="form">
            <section class="form__column">
                <label class="form__label form__label__text">
                    <span class="form__label__description">
                        Votre nom
                    </span>
                    <input type="text" class="form__input__text">
                </label>

                <label class="form__label form__label__email">
                    <span class="form__label__description">
                        Votre email
                    </span>
                    <input type="email" class="form__input__email">
                </label>

                <label class="form__label form__label__text">
                    <span class="form__label__description">
                        Votre message
                    </span>
                    <textarea class="form__input__textarea"></textarea>
                </label>
                

                <label class="form__label">
                    <input type="checkbox" class="form__input__checkbox">
                    <span class="form__label__description">
                        Je souhaite m'inscrire à la newsletter
                    </span>
                </label>


                <label class="form__label">
                    <input type="checkbox" class="form__input__checkbox">
                    <span class="form__label__description">
                        Je consens à ce que mes données soient utilisées pour que le festival prenne note de ma présence et soient conservées hors-festival pour que celui-ci communique avec moi par e-mail
                    </span>
                </label>

                <input class="button button--CTA--register" type="submit" value="Envoyez votre message"/>
            </section>
            <section class="form__column">
                <p class="paragraph--hero">
                    Vous avez des questions ? <br/>
                    Une réclamation ? <br/>
                    Simplement nous faire coucou ?
                </p>
                <h4>Contactez-nous via ce formulaire !</h4>
            </section>
        </section>
    </main>
{% endblock %}