---
permalink: "/"
---

{% extends "_layouts/base.njk" %}

{% block body %}
{% include "_partials/hero.njk" %}
<main class="main-content">
    <section class="section">
        <p class="paragraph--introduction">
            Le cinéma d’auteur vous intrigue mais vous n’avez jamais osé faire le pas ? <br/>
            Venez nous voir, vous ne le regretterez pas !
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Age sane, inquam. Bonum incolumis acies: misera caecitas. Certe, nisi voluptatem tanti aestimaretis. Tibi hoc incredibile, quod beatissimum. Ac ne plura complectar-sunt enim innumerabilia-, bene laudata virtus voluptatis aditus intercludat necesse est. Duo Reges: constructio interrete. Quo tandem modo? Innumerabilia dici possunt in hanc sententiam, sed non necesse est.
        </p>
        <p>
            Sed ego in hoc resisto; Quamvis enim depravatae non sint, pravae tamen esse possunt. Nam his libris eum malo quam reliquo ornatu villae delectari. Avaritiamne minuis? Ut optime, secundum naturam affectum esse possit. Piso igitur hoc modo, vir optimus tuique, ut scis, amantissimus. Praeteritis, inquit, gaudeo. Et quidem saepe quaerimus verbum Latinum par Graeco et quod idem valeat; Nondum autem explanatum satis, erat, quid maxime natura vellet. Res tota, Torquate, non doctorum hominum, velle post mortem epulis celebrari memoriam sui nominis. 
        </p>
        <p>
            <a class="link" href="#">Notre démarche</a>
        </p>
        
    </section>
    <section class="section blog-excerpt">
        <h3>Le Blog : nos dernières nouvelles</h3>
        <section class="blog-excerpt__article-list">
            <section class="blog-excerpt__article-list__column">
                <div class="blog-excerpt__article-list__article">
                    <div class="blog-excerpt__article__meta">
                        <p class="blog-excerpt__article__date">
                        17 juillet <br />
                        2021
                        </p>
                    </div>
                    <div class="blog-excerpt__article__content">
                        <h4 class="blog-excerpt__article__title">Encore un peu avant l'ouverture !</p>
                        <p class="blog-excerpt__article__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Age sane, inquam. Bonum incolumis acies: misera caecitas.</p>
                    </div>
                </div>
                <div class="blog-excerpt__article-list__article">
                    <div class="blog-excerpt__article__meta">
                        <p class="blog-excerpt__article__date">
                        17 juin <br />
                        2021
                        </p>
                    </div>
                    <div class="blog-excerpt__article__content">
                        <h4 class="blog-excerpt__article__title">Truc cool qui se passe</p>
                        <p class="blog-excerpt__article__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Age sane, inquam. Bonum incolumis acies: misera caecitas.</p>
                    </div>
                </div>
                <div class="blog-excerpt__article-list__article">
                    <div class="blog-excerpt__article__meta">
                        <p class="blog-excerpt__article__date">
                        12 mai <br />
                        2021
                        </p>
                    </div>
                    <div class="blog-excerpt__article__content">
                        <h4 class="blog-excerpt__article__title">Ce sponsor sera présent au festival</p>
                        <p class="blog-excerpt__article__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Age sane, inquam. Bonum incolumis acies: misera caecitas.</p>
                    </div>
                </div>
            </section>
            <section class="blog-excerpt__article-list__column">
                <div class="blog-excerpt__article-list__article">
                    <div class="blog-excerpt__article__meta">
                        <p class="blog-excerpt__article__date">
                        23 mars <br />
                        2021
                        </p>
                    </div>
                    <div class="blog-excerpt__article__content">
                        <h4 class="blog-excerpt__article__title">Un petit aperçu du programme</p>
                        <p class="blog-excerpt__article__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Age sane, inquam. Bonum incolumis acies: misera caecitas.</p>
                    </div>
                </div>
                <div class="blog-excerpt__article-list__article">
                    <div class="blog-excerpt__article__meta">
                        <p class="blog-excerpt__article__date">
                        3 février <br />
                        2021
                        </p>
                    </div>
                    <div class="blog-excerpt__article__content">
                        <h4 class="blog-excerpt__article__title">Suivez-nous sur ces réseaux sociaux</p>
                        <p class="blog-excerpt__article__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Age sane, inquam. Bonum incolumis acies: misera caecitas.</p>
                    </div>
                </div>
                <div class="blog-excerpt__article-list__article">
                    <div class="blog-excerpt__article__meta">
                        <p class="blog-excerpt__article__date">
                        17 janvier <br />
                        2021
                        </p>
                    </div>
                    <div class="blog-excerpt__article__content">
                        <h4 class="blog-excerpt__article__title">Bonjour, nous sommes Les Films de Plein Air</p>
                        <p class="blog-excerpt__article__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Age sane, inquam. Bonum incolumis acies: misera caecitas.</p>
                    </div>
                </div>
            </section>
        </section>
    </section>
    <section class="section festival-opening">
        <p class="festival-opening__text">{{ content.doorOpening.label }}</p>
        <div class="festival-opening__time">
            <p class="festival-opening__hour">{{ content.doorOpening.time }} </p>
            <p class="festival-opening__date">{{ content.doorOpening.date}}</p>
        </div>
    </section>
    <section class="section program-excerpt">
        <h3>Le Programme : les films à l'affiche</h3>
        <section class="program-excerpt__movie-list">
            {% for movie in movies.programme %}
            <section class="program-excerpt__movie-list__column">
                <p class="paragraph--introduction">{{ movie.day }}</p>
                {% for scheduled in movie.schedule %}
                <div class="program-excerpt__movie">
                    <p class="program-excerpt__movie__time">{{ scheduled.time }}</p>
                    <p class="program-excerpt__movie__title">{{ scheduled.title }}</p>
                </div>
                {% endfor %}
            </section>
            {% endfor %}
        </section>
    </section>
    {% include "_partials/booking_cta.njk" %}
</main>
{% endblock %}
