---
title: "Le Programme"
permalink: "/{{ title | slugify }}"
---

{% extends "_layouts/base.njk" %}

{% block title %} - {{ title }}{% endblock %}

{% block body %}
    <main class="main-content">
        <h2>{{ title }}</h2>
        <section class="section content-listing">
        {% for movie in movies.programme %}
            <div class="program__day">
                <h3>{{ movie.day }}</h3>
                <div class="program__day__list">
                    {% for scheduled in movie.schedule %}
                    <div class="program__movie">
                        <p class="program__movie__time">{{ scheduled.time }}</p>
                        <h4 class="program__movie__title">
                            <a href="/fiche">{{ scheduled.title }}</a>
                        </h4>
                        <p class="program__movie__duration">{{ scheduled.duration }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </section>
        {% include "_partials/booking_cta.njk" %}
    </main>
{% endblock %}